@import url('./fonts/Causten/Causten.css');
@import url('./fonts/Core-Sans-C/Core-Sans-C.css');

.container {
	display: flex;
	align-items: center;
	height: 100vh;
	width: 100vw;
}
.singUp__img {
	width: 40%;
	height: 100%;
}
.form__SingUp {
	padding: 0 7% 0 7%;
	display: flex;
	flex-direction: column;
	font-family: 'Causten';
	width: 60%;
	height: 80vh;
}
.form__title {
	font-family: 'Core-Sans-C';
	font-weight: 600;
	font-size: 34px;
}

.form__p {
	color: #666666cc;
	font-weight: 500;
	font-size: 16px;
}
label {
	font-weight: 400;
	font-size: 18px;
}

.form__input {
	height: 60px;
	border-radius: 8px;
	border: #3c4242 solid 1px;
	font-weight: 400;
	font-size: 20px;
	margin: 10px 0 0 0;
}

.input__block {
	display: flex;
	flex-direction: column;
	height: 20 vh;
}

.form__btn {
	width: 25%;
	height: 8%;
	border: none;
	color: #ffffff;
	font-weight: 500;
	font-size: 17px;
	background-color: #8a33fd;
	border-radius: 8px;
	margin: 20px 0 20px 0;
}
.SingUp__link {
	color: #3c4242;
}
