@font-face {
	font-family: 'Causten';
	font-weight: 400;
	font-style: normal;
	src: url('Causten-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Causten';
	font-weight: 500;
	font-style: normal;
	src: url('Causten-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Causten';
	font-weight: 600;
	font-style: normal;
	src: url('Causten-Semi-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Causten';
	font-weight: 700;
	font-style: normal;
	src: url('Causten-Bold.ttf') format('truetype');
}
