@import url("../fonts/Causten/Causten.css");
.cartPage__p {
  font-family: "Causten";
  font-weight: 400;
  color: #807d7e;
  font-size: 18px;
}

.cartPage__link {
  color: #8a33fd;
  font-family: "Causten";
  font-weight: 400;
  font-size: 18px;
}

.cartPage__block {
  width: 100%;
  height: 12vh;
  padding-left: 5%;
}