@import url("../fonts/Causten/Causten.css");
header {
  font-family: "Causten";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 100vw;
  max-height: 100px;
  height: 13vh;
  border-bottom: #807d7e solid 2px;
}

.nav__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 55%;
  background-color: #ffffff;
}

.logo {
  height: 100%;
}

.nav__ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__a {
  color: #807d7e;
}

.nav__a:hover,
.nav__a:focus {
  font-weight: 700;
  color: #3c4242;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 37%;
}

.nav__link {
  font-family: "Causten";
  font-weight: 500;
  font-size: 20px;
  color: #807d7e;
  list-style: none;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  height: 90%;
  background-color: #f6f6f6;
  border-radius: 8px;
}

.search__input {
  border: none;
  height: 100%;
  width: 80%;
  font-size: 20px;
  font-weight: 400;
}

.search__logo {
  width: 6%;
  margin: 10px;
}

[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background-image: url(../img/closeCross.svg);
  background-size: 15px 15px;
}

.user__nav {
  height: 90%;
  width: 13%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  width: 6vh;
  border: none;
  border-radius: 7px;
  background-color: #f6f6f6;
}

.user__btn:focus {
  background-color: #8a33fd;
  color: #ffffff;
}

.user__btn:hover {
  border: #807d7e solid 2px;
}