@import 'vars';
@import url('../fonts/Causten/Causten.css');

.cartBlock {
	width: 100%;
	height: 30vh;
	border-top: $gray100 solid 2px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cart__img {
	height: 80%;
	width: auto;
}

.cart__titleBlock {
	height: 30vh;
	width: 28%;
	display: flex;
	align-items: center;
}

.cart__p {
	font-family: 'Causten';
	font-weight: 700;
	font-size: $fs-xs;
	color: $secondary;
}
.cart__infoBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 20px;
}

.cart__countBlock {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 8%;
	height: 20%;

	background-color: $white100;
	border-radius: 12px;
}
.cart__countBtn {
	border: none;
	font-size: $fs-s;
}

.cart__removeBtn {
	border: none;
}
