@import url('../fonts/Causten/Causten.css');
@import 'vars';
.cartPage__p {
	font-family: 'Causten';
	font-weight: 400;
	color: $gray100;
	font-size: $fs-xs;
}
.cartPage__link {
	color: $purple;
	font-family: 'Causten';
	font-weight: 400;
	font-size: $fs-xs;
}
.cartPage__block {
	width: 100%;
	height: 12vh;
	padding-left: 5%;
}

.cardList__title {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: $primary;
	background-color: $secondary;

	font-family: 'Causten';
	font-weight: 600;
}
.cartList__p {
	font-size: $fs-xs;
}
.divBlock {
	width: 25%;
}
