  // Цвета
$primary: #ffffff;
$secondary: #3c4242;
$purple: #8a33fd;

$gray100: #807d7e;
$white100: #f6f6f6;
$black100: #000000;

// Шрифты
$fs-base: 20px;

$fs-xxs: 16px;
$fs-xs: 18px;
$fs-s: 25px;
$fs-m: 30px;
$fs-l: 34px;
$fs-xl: 38px;
$fs-xxl: 65px;

// Границы
$br-1: $gray100 solid 1px;
$br-2: $gray100 solid 2px;
