@import url('../fonts/Causten/Causten.css');
@import 'vars';

footer {
	color: $white100;
	background-color: $secondary;
	font-family: 'Causten';
	width: 100vw;
	height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__infoBlock {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.footer__infoColumn {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: 2%;
}
h2 {
	font-weight: 700;
}

.footer__a {
	font-weight: 500;
	color: $white100;
	margin: 10px 0 10px 0;
}

.footer__p {
	font-weight: 500;
	font-size: $fs-xxs;
}

.footer__mediaBlock {
	width: 80%;
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px 0;
}

.footer__social {
	width: 14%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
