@import url('../fonts/Core-Sans-C/Core-Sans-C.css');
@import url('../fonts/Causten/Causten.css');
@import 'vars';

.banner {
	width: 100%;
	height: 85vh;
	background-image: url(../img/title__img.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banner__content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40vw;
	height: 80vh;
	margin: 0 0 0 20%;
	color: $primary;
	font-family: 'Core-Sans-C';
}
h1 {
	font-weight: 800;
	font-size: $fs-xxl;
}
p {
	font-size: $fs-m;
	font-weight: 500;
}
.banner__btn {
	font-family: 'Causten';
	font-weight: 700;
	font-size: $fs-base;
	height: 8%;
	width: 40%;
	color: $black100;
	background-color: $primary;
	border: none;
	border-radius: 8px;
}

.deals {
	margin: 13vh 0 13vh 0;
	width: 85vw;
	height: 45vh;
	display: flex;
	justify-content: space-around;
	font-family: 'Causten';
}

.deals__cart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3%;
	background-color: $black100;
	color: $primary;
	font-weight: 800;
	height: 100%;
	width: 47%;
	border-radius: 12px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.337);
}
.deal__textContainer {
	width: 50%;
	height: 70%;
}
.deal__promotion {
	font-size: $fs-base;
}

.deal__textDeal {
	font-size: $fs-xl;
}

.deal__upto {
	font-weight: 500;
	font-size: $fs-xxs;
}

a.deal__a {
	text-decoration: underline;
	font-size: $fs-base;
	color: $primary;
}

.title__productList {
	font-family: 'Core-sans-C';
	font-weight: 600;
	width: 84%;
	height: 10vh;
	display: flex;
	align-items: center;
	color: $secondary;
	font-size: $fs-s;
}

.Rectangle {
	margin-right: 10px;
	width: 6px;
	height: 30px;
	background-color: $purple;
	border-radius: 10px;
}
